<div class="details">
  <h2>All Employees</h2>
  <div *ngIf="dataSource.data.length > 0; else wait">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="hrId">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let hr">{{ hr.hrId }}</td>
      </ng-container>

      <ng-container matColumnDef="hrName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let hr">{{ hr.hrName }}</td>
      </ng-container>

      <ng-container matColumnDef="hrEmail">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let hr">{{ hr.hrEmail }}</td>
      </ng-container>

      <ng-container matColumnDef="hrAddress">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let hr">
          {{ hr.hrAddress }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hrPhone">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let hr">{{ hr.hrPhone }}</td>
      </ng-container>

      <ng-container matColumnDef="hrSalary">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let hr">{{ hr.hrSalary }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <a mat-icon-button color="accent" (click)="onBtnEdit(element.employeeId)"
            ><mat-icon>edit</mat-icon></a
          >
          <a mat-icon-button color="warn" (click)="onBtnDelete(element.employeeId)"
            ><mat-icon>delete</mat-icon></a
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>

  </div>

  <ng-template #wait>
    Either fetching records or there are no records
  </ng-template>
</div>
